*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#eeeeee;
    color: #010310;
}


header{
    position: fixed;
    background-color:#0385ff ;
    color:#eeeeee;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:15px 40px;

    position:sticky;
    top:0;
    z-index:1000;
}


.admin-title a{
    text-decoration:none;
    color:#010310;
    font-size:24px;
    font-weight:bold;
}

.admin-title span:first-child{
     color:#eeeeee;
}

.admin-title img{
    width: 20px;
}


.nav1{
    display:flex;
    gap:30px;
    list-style:none;
}

.nav1 li a{
    color:#f3e8bc;
    text-decoration:none;
    font-size:16px;
    transition:.3s;
}

.nav1 li a:hover{
    color:#010310;
}


.nav2{
    display:none;
    position:absolute;
    right:0;
    top:70px;

    width:250px;

    background:#222;

    list-style:none;

    overflow:hidden;
}

.nav2.active{
    display:block;
}

.nav2 li{
    border-bottom:1px solid #444;
}

.nav2 li:last-child{
    border-bottom:none;
}

.nav2 li a{
    display:block;
    padding:16px;
    color:white;
    text-decoration:none;
    transition:.3s;
}

.nav2 li a:hover{
    background:#e3e3e3;
    color: #000000;
}


.menu-icon{
    display:none;
    cursor:pointer;
}

.menu-icon img{
    width:32px;
    height:32px;
}


main{
    padding:40px;
}

main h2{
    font-size:28px;
}


@media(max-width:900px){

    header{
        padding:18px 20px;
    }

    .admin-title a{
        font-size:20px;
    }

    .nav1{
        display:none;
    }

    .menu-icon{
        display:block;
        position: absolute;
        right: 7%;
    }

    .nav2{
        display:none;
    }

    .nav2.active{
        display:block;
    }
    
    
    header{
        padding:15px;
    }

    .admin-title a{
        font-size:18px;
    }

    .nav2{
        width:100%;
        left:0;
        right:0;
        top: 90%;
        text-align: center;
        
    }

    main{
        padding:20px;
    }
    
    main h2{
        font-size:22px;
    }
}